@(project: Project)
<header>

    <hgroup>
        <h1>@project.folder</h1>
        <h2>@project.name</h2>
    </hgroup>
	
	<dl class="users">	
		<!-- New note -->
        <dt>Project's team</dt>
        <dd>
            <div class="wrap">
                <h3>Team mates</h3>
                <div class="list">
                    @project.members.map { user =>
                        <dl data-user-id="@user.email">
                            <dt>@user.name <span>(@user.email)</span></dt>
                            <dd class="action">Action</dd>
                        </dl>
                    }
                </div>
                <h3>Add a team mate</h3>
                <div class="addUserList">
                    @User.findAll.diff(project.members).map { user =>
                        <dl data-user-id="@user.email">
                            <dt>@user.name <span>(@user.email)</span></dt>
                            <dd class="action">Action</dd>
                        </dl>
                    }
                </div>
            </div>
        </dd>
		
	</dl>
</header>
<article  class="tasks" id="tasks">
	<!--
	<dl class="users"><a href="#newFolder" class="new newFolder" style="line-height:19px;">New note</a></dl>
    -->
	<dl class="users"><a href="@routes.Notes.add(project.id)" class="new newFolder" style="line-height:19px;">New note</a></dl>
    
</article>

